:root {
    --main-color: #19723D;
    --black: #000;
    --white: #fff;
    --primary: #8A8E96;
    --secondary: #1D1D35;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none !important;
    overflow-x: hidden !important;
}

body {
    font-family: 'Inter', sans-serif;
}

.logo {
    color: var(--main-color);
    font-weight: 700;
    font-size: 1.7rem;
    letter-spacing: -0.04em;
    user-select: none;
}

.logo:hover {
    color: var(--main-color);
}

.logo span {
    font-weight: 600;
    color: var(--black);
}

.navbar-nav {
    margin: 0 auto;
}

.nav-item a {
    color: var(--black) !important;
    margin: 0 1em;
    letter-spacing: -0.02em;
    font-weight: 400 !important;
}

.nav-item a:hover {
    border-bottom: 1px solid var(--main-color) !important;
    padding-bottom: .5rem;
    color: var(--main-color) !important;
    font-weight: 600;
    transition: linear .2s;
}

.first-section {
    background: #F5F9FC;
}

.intro-section {
    margin-left: 1.5em;
}


/*BUG

.intro {
    width: 80%;
}*/

.intro h1 {
    color: var(--secondary);
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.2;
}

.intro p {
    color: var(--primary);
    font-weight: 500;
    width: 100%;
    line-height: 27px;
    font-size: .9rem;
}

.Quran-img {
    margin-right: 10em !important;
    width: 100%;
}

.btn-1 {
    background: #20A36B;
    font-size: .9rem;
    font-weight: 400;
}

.btn-1:hover {
    background: #20A36B;
    color: var(--white);
    font-size: .8rem;
    font-weight: 400;
}

.btn-2 {
    font-size: .9rem;
    font-weight: 400;
}

.btn-2:hover {
    background: transparent;
    color: var(--white) !important;
    font-size: .8rem;
    font-weight: 400;
}

.about-img {
    margin-top: -6em;
    padding-top: 0;
    margin-left: -3em;
}

.about-section h2,
.surah-section h2 {
    font-size: 2.3rem;
    font-weight: 600;
    color: var(--secondary);
}

.about-section h2 span {
    font-size: .6em;
    font-weight: 600;
    color: var(--main-color);
}

.about-section p {
    line-height: 1.8;
    color: var(--primary);
    font-weight: 500;
    font-size: .9rem;
}

.about-section .about-btn {
    text-align: center;
    margin: 2.2em 0 2em 0;
}

.about-section .about-btn button {
    background-color: var(--main-color);
    color: var(--white);
}

.surah-section {
    background-color: #F5F9FC;
}

.hidden {
    display: none;
}

.search-section input {
    border: none;
    outline: none;
    border-bottom: 1px solid #19723D;
    background-color: transparent;
}

.search-section input:focus {
    outline: none;
}

.Ayat-links a {
    margin-right: 2.5em;
    color: var(--main-color);
    font-weight: 600;
}

.Ayat-links a:hover {
    border-bottom: 2px solid #19723D;
}

.verses {
    border: 1px solid #ccc;
    cursor: pointer;
}

.verses:hover {
    transform: scaleY(.9);
    border: 1px solid #19723D;
    transition: .2s all;
}

.number {
    background-color: var(--main-color);
    border-radius: 50%;
    padding: .65em;
    font-size: 1em;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.verse-name {
    margin-left: 1.5em;
}

.verse-name h5 {
    font-weight: 600;
    font-size: 1.2rem;
    text-align: left;
}

.verse-name p {
    color: var(--main-color);
    font-size: .9rem;
    text-align: left;
    font-weight: 500;
}

.ayat-num i {
    color: #F5F9FC;
}

.ayat-num p {
    color: var(--main-color);
    font-size: .9rem;
    font-weight: 500;
}
